:root {
--background:  #364d4d;
}

body {
    display: flex; 
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

img {
    height: 30px;
    width: 30px;
}

.main-title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
}

/** whole body div 'container1' **/
.container1 {
    display: flex;
    gap: 20px;
}

/** SIDEBAR 'container2' START **/

.container2 {
    width: 200px;
    padding-left: 1rem;
}


    /** UPPER SECTION OF SIDEBAR START **/

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    font-weight: 900;
    font-size: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 6px;
    letter-spacing: 1px;
}

.plusBtn {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

    /** UPPER SECTION OF SIDEBAR END **/

    /** JS FOR NEW PROJECTS AFTER PLUS BTN CLICKED START **/

.project {
    display: flex;
    align-items: center;
    padding-left: 12px;
    gap: 4px;
}

.input {
    height: 14px;
    width: 80px;
}

    /** JS FOR NEW PROJECTS AFTER PLUS BTN CLICKED END **/

    /** button for new project start **/

.nameBtn {
    background-color: var(--background);
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(17, 17, 17);
}

.nameBtn:hover {
    color: #fff;
}

    /** button for new project end **/

/** SIDEBAR 'container2' END **/










/** MAIN CONTENT 'container3' START **/

.container3 {
    width: 500px;
    margin-left: 30px;
    padding-left: 60px;
}

    /** SECTION FROM INDEX.JS FOR NEW NOTE (card div) START **/

.card {
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 3px;


}

.plusImg {
    height: 20px;
    width: 20px;
}

.newNoteBtn {
    background-color: var(--background);
    border: none;
    padding: 0;
}

.newNoteBtn:hover {
    color: #fff;
}

    /** SECTION FROM INDEX.JS FOR NEW NOTE (card div) START **/



    /** NOTE DIV SECTION FROM INDEX.JS WHEN NEW NOTE BTN CLICKED START **/

.noteDiv {
    width: 400px;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
}

.todo {
    background-color: #050505;
    color: #fff;
    height: 18px;
}



    /** NOTE DIV SECTION FROM INDEX.JS WHEN NEW NOTE BTN CLICKED START **/



    /** NEW NOTES BEING DISPLAYED START **/

.note {
    border: 1px solid black;
    margin: 12px 0;
    padding-left: 15px;
}

.label {
    font-weight: 700;
    font-size: 17px;
}

.radio {
    margin: 0 0 4px 0;
    padding: 0 0 0 5px;
}

    /** NEW NOTES BEING DISPLAYED END **/

/** MAIN CONTENT 'container3' END **/
